{% extends 'base.html' %} {% block content %}
<h2>Inserir Nova Flor</h2>
<form method="POST" action="{% url 'flowers:create' %}">
  {% csrf_token %}
  <p>
    <label for="id_name">Nome:</label>
    <input type="text" name="name" id="id_name" />
  </p>
  <p>
    <label for="id_especie">Espécie:</label>
    <input type="number" name="especie" id="id_especie" />
  </p>
  <p>
    <label for="id_poster_url">URL do Poster:</label>
    <input type="url" name="poster_url" id="id_poster_url" />
  </p>
  <button type="submit">Criar</button>
</form>

{% endblock content %}
