{% extends 'base.html' %} {% block content %}
<h2>Todos os Filmes</h2>
{% if flower_list %}
<section class="lista-de-cards">
  {% for flower in flower_list %}
  <article class="card">
    <a href="{% url 'flowers:detail' forloop.counter %}"
      ><img src="{{ flower.poster_url }}" alt="Poster do filme {{ flower.name}}"
    /></a>
    <p>{{ flower.name }} ({{ flower.release_year }})</p>
  </article>
  {% endfor %}
</section>
{% else %}
<p>Não foi encontrado nenhum filme.</p>
{% endif %} {% endblock content %}
