{% extends 'base.html' %}

{% block content %}
<h2>Busca de Filmes por Nome</h2>
<form action="{% url 'flowers:search' %}">
    <p>
        <label for="id_query">Título:</label>
        <input type="text" name="query" id="id_query" />
    </p>
    <button type="submit">Buscar</button>
</form>


<h2>Resultado da Busca</h2>
{% if flower_list %}
<section class="lista-de-cards">
    {% for flower in flower_list %}
    <article class="card">
        <img src="{{ flower.poster_url }}" alt="Poster do filme {{ flower.name}}">
        <p>{{ flower.name }} ({{ flower.release_year }})</p>
    </article>
    {% endfor %}
</section>
{% else %}
<p>Não foi encontrado nenhum filme para a busca.</p>
{% endif %}

{% endblock content %}
